@import "./colors.scss";
$small-size: 800px;

* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 12px;
}

.App {
  text-align: center;
  display: grid;
  justify-items: space-between;
  grid-template:
    "top-bar top-bar"3rem "left-pane regions"auto "bottom-bar bottom-bar" auto;
  height: 100vh;

  @media screen and (max-width: $small-size) {
    grid-template:
    "top-bar" auto "left-pane" auto  "regions" auto "bottom-bar"3rem;
  }

  a, a:visited, a:focus {
    text-decoration: none;
    color: inherit;
  }

  #top-bar,
  #bottom-bar {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
  }

  #top-bar {
    grid-area: top-bar;
    justify-content: space-between;
    align-items: center;
    #logo {
      h2 {
        display: inline-block;
      }
    }
    ul {
      list-style: none;

      li {
        display: inline-block;
        padding-left: 1rem;
        
        &.link {
          font-weight: bolder;
        }
      }
    }
  }

  #bottom-bar {
    grid-area: bottom-bar;
    justify-content: flex-end;
  }

  /// HELP BOXES
  .region-title-wrapper,
  .district-title-wrapper,
  #system-toggle {
    position: relative;

    .info {
      position: absolute;
      top: 0rem;
      right: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .info-tag {
      cursor: pointer;
      align-content: left;
      border: 1px solid black;
      border-radius: 100%;
      font-size: 1rem;
      line-height: 1rem;
      margin-left: 0.5rem;
      height: 1rem;
      width: 1rem;
      font-weight: bold;
    }

    .info-box {
      background: white;
      z-index: 99;
      max-width: 20rem;
      padding: 2rem;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.23),
        0 5px 5px rgba(0, 0, 0, 0.25);
      width: 100%;

      .info-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  #left-pane {
    display: flex;
    grid-area: left-pane;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;

    @media screen and (max-width: $small-size) {
      box-shadow: none;
    }

    #system-toggle {
      button {
        line-height: 2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        text-decoration: none;
        background: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:focus {
          outline: 0;
        }

        &:after {
          content: '';
          height: 0.5rem;
          width: 100%;
          position: absolute;
          bottom: 0;
          background-color: $red;
          transition: left 0.5s ease-out, right 0.5s ease-out;
        }

        &.left-toggle:after {
          right: -100%;
        }

        &.right-toggle:after {
          left: -100%;
        }

        &.left-toggle.selected:after {
          right: 0;
        }

        &.right-toggle.selected:after {
          left: 0;
        }
      }


    }

    #parliament-wrapper {
      display: flex;
      flex-direction: column;

      #parliament {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        align-items: center;
        align-content: center;
        grid-gap: 0.5rem;
        padding-top: 1rem;

        @media screen and (max-width: $small-size) {
          height: auto;
          max-height: none;
        }
        
        .seat {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 1s ease-in-out;
          color: white;
          font-weight: bold;
          font-size: 2rem;
        }

        .seat-appear,
        .seat-enter {
          transform: scale(0.1);
        }

        .seat-appear.seat-appear-active,
        .set-enter.seat-enter-active {
          transform: scale(1);
          transition: transform 0.5s ease-in-out;
        }

        .green-fill {
          order: 3;

        }

        .red-fill {
          order: 2;

        }

        .blue-fill {
          order: 1;

        }
      }

      #legend {
        padding-top: 2rem;

        >span {
          margin-right: 2rem;


          >span {
            display: inline-block;
            position: relative;
            border-radius: 3px;
            width: 1.4rem;
            line-height: 1.4rem;
            height: 1.4rem;
            vertical-align: middle;
            color: white;
            margin-right: 0.5rem;
          }
        }
      }

      #parliament-breakdown {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        grid-row-gap: 0.2rem;
        grid-column-gap: 0.8rem;
        font-weight: bold;
        justify-items: center;

        .percentage {
          width: 5rem;
          height: 5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 0.2rem;
          font-size: 1.2rem;
          transform-origin: center;
          
          &:nth-of-type(odd) {
            justify-self: end;
          }

          &:nth-of-type(even) {
            justify-self: start;
          }
        }
      }
    }
  }

  #regions {
    position: relative;
    grid-area: regions;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    padding: 1rem;
    box-sizing: border-box;

    @media screen and (max-width: $small-size) {
      grid-template-columns: repeat(1, 1fr);
      box-shadow: none;
      padding: 0;
    }

    .region {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem;
    }

    .districts {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      grid-gap: 1rem;
      position: relative;

      .district {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.23),
          0 3px 3px rgba(0, 0, 0, 0.25);
        transition: border 0.2s linear;

        h2 {
          grid-column: 1/5;
        }

        &.border-bottom-red,
        &.border-bottom-blue,
        &.border-bottom-green {
          border-bottom-style: solid;
          border-bottom-width: 0.5rem;
        }
      }
    }

    .vote-bar {
      height: 2rem;
      grid-column: 1/3;
      border-radius: 2.5rem;
      overflow: hidden;

      div {
        height: 5rem;
        display: inline-block;
        box-shadow: -0.3rem 0px 0.5rem rgba(0, 0, 0, 0.23),
      }

      .vote-bar-range {
        height: 5rem;
      }
    }
  }
}