$blue: lighten(desaturate(blue, 60), 10);
$red: lighten(desaturate(red, 40), 10);
$green:  lighten(desaturate(yellowgreen, 20), 5);

body {
  .blue-fill {
    background-color: $blue;
    color: white;

    &-svg {
      fill: $blue;
    }
  }

  .red-fill {
    background-color: $red;
    color: white;

    &-svg {
      fill: $red;
    }
  }
  
  .green-fill {
    background-color: $green;
    color: white;
    
    &-svg {
      fill: $green;
    } 
  }

  .blue-text {
    color: $blue;
  }

  .red-text {
    color: $red;
  }

  .green-text {
    color: $green;
  }

  .border-bottom- {
    &blue {
      border-bottom-color: $blue;
    }

    &red {
      border-bottom-color: $red;
    }

    &green {
      border-bottom-color: $green;
    }
  }
}