$blue: lighten(desaturate(blue, 40), 10);
$red: lighten(desaturate(red, 20), 10);
$green:  lighten(desaturate(green, 60), 20);

body {
  .blue-fill {
    background-color: $blue;
    color: white;
  }

  .red-fill {
    background-color: $red;
    color: white;
  }
  
  .green-fill {
    background-color: $green;
    color: white;
  }

  .blue-text {
    color: $blue;
  }

  .red-text {
    color: $red;
  }

  .green-text {
    color: $green;
  }

  .border-bottom- {
    &blue {
      border-bottom-color: $blue;
    }

    &red {
      border-bottom-color: $red;
    }

    &green {
      border-bottom-color: $green;
    }
  }
}