$rail-height: 3rem;

.slider-container {
  .slider-rail {
    position: relative;
    height: $rail-height;

    .slider-bar-wrapper {
      border-radius: 0.3rem;
      overflow: hidden;
      height: $rail-height;

      .slider-left,
      .slider-middle,
      .slider-right {
        height: $rail-height;
        display: inline-block;
      }
    }

    .slider-dial {
      position: absolute;
      transform: translateX(-50%);
      cursor: pointer;
      top: 0;
      bottom:0;
      box-sizing: border-box;

      &.dial-appear, &.dial-enter,  {
        left: 0%;
      }

      &.dial-appear.dial-appear-active {
        transition: left 1s ease-out;
      }

      &:before, &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        font-weight: bold;
        font-size: 1.2rem;
        text-shadow: 0 0 2px white;
      }

      &:before {
        content: '\25C0';
        left: calc(-1.2rem - 1px);
      }

      &:after {
        content: '\25B6';
        right: -1.2rem ;
      }
    }
  }

  .slider-legend {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}